.intro__subtitle {
    max-width: 65%;
    font-size: 30px;
    line-height: 1.2;
    text-align: center;
    margin: 2rem auto 5rem auto;
}

@media screen and (max-width: 768px) {
    .intro__subtitle {
        max-width: calc(100% - 3rem);
        margin-bottom: 3rem;
    }
}

@media screen and (max-width: 320px) {
    .intro__subtitle {
        max-width: calc(100% - 2rem);
        font-size: 16px;
        margin: 1rem auto 2.5rem auto;
    }
}
