.gallery {
    max-width: 94%;
    display: flex;
    flex-wrap: wrap;
    margin: 7rem auto 6rem auto;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .gallery {
        max-width: calc(100% - 3rem);
        margin-top: 5.6rem;
    }
}

@media screen and (max-width: 320px) {
    .gallery {
        max-width: calc(100% - 2rem);
        flex-direction: column;
        margin-bottom: 3.85rem;
    }
}