.places {
    max-width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .places {
        max-width: 90%;
    }
}

@media screen and (max-width: 320px) {
    .places {
        max-width: 95%;
    }
}