@import url(./blocks/page/page.css);
@import url(./blocks/link/link.css);
@import url(./blocks/link/_place/link_place_places.css);
.page {
    max-width: 80%;
}

.places__list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto auto;
}