.places__title {
    font-size: 72px;
    line-height: 1.1;
    margin: 0;
    max-width: calc(50% - 4rem);
}

@media screen and (max-width: 768px) {
    .places__title {
        font-size: 42px;
    }
}

@media screen and (max-width: 320px) {
    .places__title {
        max-width: 100%;
    }
}