.contacts__text {
    margin: 0 0 2rem 0;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    max-width: 50%;
}

@media screen and (max-width: 320px) {
    .contacts__text {
        font-size: 14px;
    }
    .contacts__text {
        margin: 1rem 0;
    }
}