.gallery__item {
    margin: 1rem 1rem 0 0;
    width: calc(100% / 4 - 0.8rem);
}

.gallery__item:nth-child(4n+4) {
    margin-right: 0;
}

@media screen and (max-width: 768px) {
    .gallery__item {
        width: calc(100% / 2 - .5rem);
    }
    .gallery__item:nth-child(2n+2) {
        margin-right: 0;
    }
}

@media screen and (max-width: 320px) {
    .gallery__item {
        width: 100%;
    }
}