.contacts__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0);
    z-index: 1;
}

.contacts:hover .contacts__overlay {
    background-color: rgba(0, 0, 0, .3);
}

@media screen and (max-width: 320px) {
    .contacts__overlay {
        background-color: rgba(0, 0, 0, .3);
    }
}