.places__text {
    margin-top: 1rem;
    font-size: 18px;
    line-height: 1.6;
}

.places__text:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .places__text {
        font-size: 16px;
    }
}