.link {
    padding: 13px 20px;
    background: #0278FE;
    border-radius: 4px;
    color: #fff;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    width: fit-content;
}

.link:hover {
    background: #0063D2;
}

@media screen and (max-width: 768px) {
    .link {
        order: 2;
    }
}

@media screen and (max-width: 320px) {
    .link {
        order: 3;
    }
}