.places__list-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1.5rem;
    margin-top: 5rem;
}

.places__list-item:first-of-type {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .places__list-item {
        margin-top: 3rem;
    }
}

@media screen and (max-width: 500px) {
    .places__list-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0;
        margin-top: 3.1rem;
    }
}