.quote__author {
    max-width: 45rem;
    margin: 0 0 32px 0;
    text-align: right;
    font-size: 24px;
    line-height: 1.4;
}

@media screen and (max-width: 768px) {
    .quote__author {
        max-width: 100%;
    }
}