@import url(../vendor/normalize.css);
@import url(../fonts/inter/inter.css);
@import url(../blocks/page/page.css);
@import url(../blocks/page/__link/page__link.css);
@import url(../blocks/page/__link/_margin/page__link_margin_top.css);
@import url(../blocks/page/__link/_size/page__link_size_wide.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/header/header.css);
@import url(../blocks/header/__title/header__title.css);
@import url(../blocks/header/__subtitle/header__subtitle.css);
@import url(../blocks/header/__image/header__image.css);
@import url(../blocks/intro/intro.css);
@import url(../blocks/intro/__container/intro__container.css);
@import url(../blocks/intro/__heading/intro__heading.css);
@import url(../blocks/intro/__quote/intro__quote.css);
@import url(../blocks/intro/__quote-author/intro__quote-author.css);
@import url(../blocks/intro/__text/intro__text.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__item/gallery__item.css);
@import url(../blocks/places/places.css);
@import url(../blocks/places/__list/places__list.css);
@import url(../blocks/places/__list-item/places__list-item.css);
@import url(../blocks/places/__title/places__title.css);
@import url(../blocks/places/__rows/places__rows.css);
@import url(../blocks/places/__row/places__row.css);
@import url(../blocks/places/__row/_content/places__row_content_titles.css);
@import url(../blocks/places/__row/_content/places__row_content_main.css);
@import url(../blocks/places/__image/places__image.css);
@import url(../blocks/places/__text-container/places__text-container.css);
@import url(../blocks/places/__text-container/_align/places__text-container_align_bottom.css);
@import url(../blocks/places/__subtitle/places__subtitle.css);
@import url(../blocks/places/__text/places__text.css);
@import url(../blocks/places/__text/_margin/places__text_margin_top.css);
@import url(../blocks/contacts/contacts.css);
@import url(../blocks/contacts/__image/contacts__image.css);
@import url(../blocks/contacts/__overlay/contacts__overlay.css);
@import url(../blocks/contacts/__title/contacts__title.css);
@import url(../blocks/contacts/__text/contacts__text.css);
@import url(../blocks/footer/__author/footer__author.css);