.places__row_content_main {
    flex-wrap: wrap;
    margin-top: 3rem;
}

@media screen and (max-width: 768px) {
    .places__row_content_main {
        flex-direction: column;
        flex-wrap: wrap;
        max-height: 100vh;
    }
}

@media screen and (max-width: 320px) {
    .places__row_content_main {
        flex-direction: column;
        flex-wrap: nowrap;
        max-height: fit-content;
    }
}