.places__text-container {
    display: flex;
    flex-direction: column;
    width: 50%;
}

@media screen and (max-width: 768px) {
    .places__text-container {
        order: 3;
    }
}

@media screen and (max-width: 320px) {
    .places__text-container {
        width: 100%;
        margin-top: 2rem;
        order: 2;
    }
}