.intro__heading {
    font-weight: 900;
    font-size: 54px;
    line-height: 1.1;
    margin: 0;
}

@media screen and (max-width: 320px) {
    .intro__heading {
        font-size: 32px;
        line-height: 1.1;
    }
}