.intro__title {
    max-width: 49.5rem;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.1;
    text-align: center;
    margin: 0 auto;
}

@media screen and (max-width: 768px) {
    .intro__title {
        max-width: calc(100% - 3rem);
        font-size: 12vw;
    }
}

@media screen and (max-width: 320px) {
    .intro__title {
        max-width: calc(100% - 2rem);
        font-size: 40px;
    }
}
